@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./Manrope/Manrope-Regular.ttf) format("ttf");
  src: url(./Manrope/Manrope-Regular.woff) format("woff");
  src: url(./Manrope/Manrope-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./Manrope/Manrope-SemiBold.ttf) format("ttf");
  src: url(./Manrope/Manrope-SemiBold.woff) format("woff");
  src: url(./Manrope/Manrope-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "RosbankSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./RosbankSans/rosbank-sanstt-bold.ttf) format("ttf");
  src: url(./RosbankSans/rosbank-sanstt-bold.woff) format("woff");
  src: url(./RosbankSans/rosbank-sanstt-bold.woff2) format("woff2");
}
